<div id="message-<%= message.id %>">
  <small>
  <% if current_user == @message.user %>
    <%= render(partial: "shared/avatar") %>
  <% else %>
    <%= image_tag "defalt.png", class: "avatar" %>
  <% end %>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
