<div class="content">
  <%= simple_form_for @profile do |f| %>
    <%= f.input :fullname %>
    <%= f.input :batch_number %>
    <%= f.input :biography %>
    <%= f.input :contact_info %>
    <%= f.input :company %>
    <%= f.input :location %>
    <%= f.input :skills %>
    <%= f.input :hobby %>
    <%= f.submit "Save", class: "btn-submit"%>
  <% end %>

  <div>
    <%= link_to "back", profiles_path, class: "btn-orange" %>
  </div>
  
</div>
