<div class="container">
  <div class="content">
    <h1>user profile <%= @profile.user.nickname %></h1>
      <div>
        <% if @profile.user.avatar.present? %>
          <img src="<%=(url_for(@profile.user.avatar))%>", class="avatar">
        <% else %>
          <%= image_tag "logo.png", class: "avatar" %>
        <% end %>
            <p>Batch_number: <%= @profile.batch_number %></p>
            <p>Biography: <%= @profile.biography %></p>
            <p>Contact_info: <%= @profile.contact_info %></p>
            <p>Company: <%= @profile.company %></p>
            <p>Location: <%= @profile.location %></p>
            <p>Skills: <%= @profile.skills %></p>
            <p>Hobby: <%= @profile.hobby %></p>
      </div>

    <div class="button-container">
      <%= link_to "back", profiles_path, class: "btn btn-orange" %>
      <% if policy(@profile).edit? %>
        <%= link_to "Update", edit_profile_path(@profile), class: "btn btn-orange" %>
      <% end %>
    </div>
  </div>
</div>
