<div class="container">
  <div class="title-container">
    <h1>Hello, I am <%= @profile.user.nickname.upcase %> 🌱</h1>
  </div>

      <div class="avatar-content">
        <% if @profile.user.avatar.present? %>
          <img src="<%=(url_for(@profile.user.avatar))%>", class="profile-avatar">
        <% else %>
          <%= image_tag "logo.png", class: "card-avatar" %>
        <% end %>

          <% if @profile.batch_number.present? %>
            <div> <p>Batch number</p>
            <div class="batch-container"><%= @profile.batch_number %> </div></div>
            <% end %>
      </div>
     

      <div class="profile-content">
        <% if @profile.fullname.present? %>
          <p>Full name</p>
          <h5><%= @profile.fullname %></h5>
        <% end %>
        <% if @profile.biography.present? %>
          <p>Biography</p>
          <h5><%= @profile.biography %></h5>
        <% end %>
        <% if @profile.contact_info.present? %>
          <p>Contact infomation</p>
          <h5> <%= @profile.contact_info %></h5>
        <% end %>
        <% if @profile.company.present? %>
          <p>Company</p>
          <h5><%= @profile.company %></h5>
        <% end %>
        <% if @profile.location.present? %>
          <p>Location</p>
          <h5> <%= @profile.location %></h5>
        <% end %>
        <% if @profile.skills.present? %>
          <p>Skills</p>
          <h5><%= @profile.skills %></h5>
        <% end %>
        <% if @profile.hobby.present? %>
          <p>Hobby</p>
          <h5><%= @profile.hobby %></h5>
      <% end %>
      </div>

    <div class="button-container">
      <%= link_to "back", profiles_path, class: "btn btn-orange" %>
      <% if policy(@profile).edit? %>
        <%= link_to "Update", edit_profile_path(@profile), class: "btn btn-orange" %>
      <% end %>
    </div>
  </div>
</div>
