<div class="d-flex justify-content-center">
  <div class="row">
    <h1>user profile <%= @profile.fullname %></h1>
      <p>Batch_number: <%= @profile.batch_number %></p>
      <p>Biography: <%= @profile.biography %></p>
      <p>Contact_info: <%= @profile.contact_info %></p>
      <p>Company: <%= @profile.company %></p>
      <p>Location: <%= @profile.location %></p>
      <p>Skills: <%= @profile.skills %></p>
      <p>Hobby: <%= @profile.hobby %></p>
  </div>
</div>

<div class="col align-self-end">
  <% if policy(@profile).edit? %>
    <%= link_to "Update", edit_profile_path(@profile) %>
  <% end %>
    <%= link_to "back", profiles_path %>
</div>
