<div class="event-card sight col-sm-12 col-md-6 col-lg-6" style="width: 18rem;">
  <div class="tour-card-info">
    <h2> <%= event.event_name %></h2>
    <p> <%= event.location %>.</p>
    <p> <%= event.user_id %>.</p>
    <p> <%= event.start_time %>.</p>
    <p> <%= event.end_time %>.</p>
    <br>
  </div>
    <div class="grid event-index-button">
      <div class="g-col-6">
        <%= link_to "🔎 Details", event_path(event), class: "btn button-primary2-details"%>
      </div>
      <div class="g-col-6">
        <%#= link_to "📖 Bookmark the event", new_event_bookmark_path(event), class: "btn button-primary2 event-booking"%>
      </div>
    </div>
</div>
