<%= simple_form_for(event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <%= f.input :event_name %>
    <%= f.input :location %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>

  <div class="new">
    <%= f.submit "submit", class: 'btn btn-pink' %>

<% end %>
  </div>
