<div class="container">
  <div class="content">
    <h1> <%= @event.event_name %></h1>
    <p> Location: <%= @event.location %></p>
    <p> Host: <strong><%= @event.user.nickname.upcase %></strong></p>
      <% if @event.start_time.strftime("%a, %d %b %Y") != @event.end_time.strftime("%a, %d %b %Y") %>
        <p> Start Date: <%= @event.start_time %></p>
        <p> End Date: <%= @event.end_time %></p>
      <% else %>
        <p> Date: <%= @event.start_time %></p>
      <% end %>

      <div class="button-container">
        <% if current_user == @event.user %>
          <% if policy(@event).edit? %>
              <%= link_to "Edit", edit_event_path(@event), class: "btn btn-orange" %>
          <% end %>
              <%= link_to icon('fa-solid', 'trash'), event_path(@event), class: "btn btn-orange", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% else %>
        <%#= link_to "📖 Book", new_event_bookmark_path(@event), class: "btn button-primary2"%>
        <% end %>
      </div>

      <div class="button-container">
      <%= link_to "back", events_path, class: "btn btn-orange" %>
      </div>

    </div>
  </div>
</div>
