<div class="event-show-container">
  <div class="d-flex justify-content-between" style="margin-top: 16px;">
    <div class="event-details" style="width: 30%;">
      <%#   E V E N T - D E T A I L S  %>
      <div class="p-2">
        <div class="event-show-card" style="width: 100%;">
          <h1> <%= @event.event_name %></h1><br>
          <p> <%= @event.location %>.</p>
          <p> <%= "Email adress of event founder: " %><%= @event.user.email %>.</p>
          <p> <%= @event.start_time %>.</p>
          <p> <%= @event.end_time %>.</p><br>

              <%= link_to "back", events_path, class: "btn-orange" %>
            <% if current_user == @event.user %>
              <div class="d-flex p-2">
                <div style="margin: 10px 0 0 10px;;">
                  
                  <% if policy(@event).edit? %>
                    <%= link_to "Edit", edit_event_path(@event), class: "btn-pink" %>
                  <% end %>

                    <%#= link_to "ðŸ—‘ï¸", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                    <%= button_to "ðŸ—‘ï¸", @event, method: :delete if policy(@event).destroy? %>

                </div>
              </div>
            <% else %>
            <%#= link_to "ðŸ“– Book", new_event_bookmark_path(@event), class: "btn button-primary2"%>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  </div> <%# closed-flex align-content-center flex-wrap %>
</div> <%# close Container %>
